:root {
    --primary-color: #0B4F6C;

    --accent1-color: #FBFBFF;

    --text-color: rgb(0, 0, 0);
    --heading-font: Helvetica, sans-serif;
    --body-font: Arial, sans-serif;
    --max-width: 100%;
    --max-radius: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: rgb(203, 228, 250);
}

header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
}

h1 {
    position: absolute;
    font-size: 4rem;
    top: 1.2rem;
    width: 100%;
    padding: 0.9rem;
    text-align: center;
    background: var(--primary-color);
    opacity: 0.85;
    color: var(--accent1-color);
    font-family: var(--heading-font);

}

/* ---------------- HEADER ---------------- */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 15px;
    background: var(--primary-color);

}

.logo {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

header img {
    justify-self: center;
    border-radius: 20%;
    width: 55px;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: .75rem;
}

nav a:hover {
    background: var(--secondary-color);
    border-radius: var(--max-radius);
}

/* ---------------- HERO ---------------- */

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(55, 63, 87, 0.694);

    z-index: 1;
}

.hero img {
    display: block;

    width: 100%;
    height: auto;
    object-fit: cover;
}


.hero h1 {
    position: absolute;
    font-size: 4rem;
    top: 20px;
    width: 100%;
    text-align: center;
    background: rgba(11, 79, 108, 0.8);
    color: white;
    padding: 15px;
    font-family: var(--heading-font);
    z-index: 2;

}

.hero article {
    position: absolute;
    bottom: 8rem;
    left: 2rem;
    right: 2rem;
    background: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    border: 2px solid #060606;
    border-radius: var(--max-radius);
    z-index: 2;
}

.hero article img {
    float: right;
    margin-left: 15px;
    width: 180px;
    border-radius: var(--max-radius);

}

.hero article p {
    font-size: 1.2rem;
    font-family: var(--body-font);
    padding: 10px;
}

/* ---------------- SECTIONS ---------------- */

section {
    padding: 2rem;
    margin: 2rem 0;
    border: 2px solid black;
    border-radius: var(--max-radius);
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--accent1-color);
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2rem;
}

/* ---------------History ---------------- */

section:first-of-type {
    text-align: center;
}

section p {

    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

article p {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;

}

/* ----------------Adventure--------------- */

section:last-of-type {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

section:last-of-type h2 {
    width: 100%;
}

section:last-of-type figure {
    flex: 1 1 150px;
    text-align: center;
    margin: 0;
}

section:last-of-type img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--max-radius);
}

section:last-of-type figcaption {
    margin-top: 10px;
    font-weight: bold;
}



/* ---------------- TEAM ---------------- */

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: var(--accent1-color);
    margin-top: 2%;

}

.team h2 {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #0f0e0e;
    font-size: 30px;

}

.team figure {
    margin: 0;
    text-align: center;

}

.team img {

    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: var(--max-radius);
}

.team figcaption {
    margin: 8px;
    font-size: 16px;
    color: #060606;
}

.contact {
    align-items: center;
    text-align: center;
    margin: 20px 20px;
}

/* ---------------- FORM ----------------*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.map {
    flex: 1;
    max-width: 50%;
    margin: 0.8rem;

}

.map iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.contact-form {
    border: #060606 solid 2px;
    padding: 1rem;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #bbbac9;
    border-radius: var(--max-radius);
    font-family: var(--body-font);

}

form p {

    color: #060606;

}

form label {

    text-align: left;
    font-size: 20px;
    color: #060606;
}

form input {
    flex: 1;
    padding: 8px;
    border-radius: var(--max-radius);

}

form button {
    padding: 0.8rem;
    border-radius: var(--max-radius);
    font-size: 20px;
    font-family: Arial;
    background-color: #5796d9;
}

form textarea {
    padding: 0.8rem;
    border-radius: var(--max-radius);
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #060606;

}

.radio-group input[type="radio"] {
    flex: initial;
    width: auto;
    margin: 0;
}

/* ---------------- FOOTER ---------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #999;
    margin-top: 15px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
    border-radius: 8px;
}