:root {
    --primary-color: #0B4F6C;
    --secondary-color: #01BAEF;
    --accent1-color: #FBFBFF;
    --accent2-color: #20BF55;

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;

    --max-width: 1000px;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #333;
    background: white;
}

header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
}

/* ---------------- HEADER ---------------- */

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 15px;
    background: var(--primary-color);
}

header img {
    justify-self: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: .75rem;
}

nav a:hover {
    background: var(--secondary-color);
    border-radius: 5px;
}

/* ---------------- HERO ---------------- */

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(80, 80, 80, 0.5);
}

.hero img {
    display: block;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    background: rgba(11, 79, 108, .8);
    color: white;
    padding: 15px;
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 40px;
    right: 40px;

    background: rgba(255, 255, 255, .85);
    padding: 20px;
}

.hero article img {
    float: right;
    margin-left: 15px;
    width: 150px;
}

/* ---------------- TEAM ---------------- */

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #5796d9;
    margin-top: 2%;

}

.team h3 {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #0f0e0e;
    font-size: 30px;

}

.team figure {
    margin: 0;
    text-align: center;

}

.team img {

    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20%;
}

.team figcaption {
    margin: 8px;
    font-size: 16px;
    color: #060606;
}

.contact {
    align-items: center;
    text-align: center;
    margin: 20px 20px;
}

/* ---------------- FORM ----------------*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.map {
    flex: 1;
    max-width: 50%;

}

.contact-form {
    border: #060606 solid 2px;
    padding: 1rem;
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    display: flex;
    background-color: #cbc1c1;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

form label {

    text-align: left;
    font-size: 20px;
    color: #060606;
}

form input {
    flex: 1;
    padding: 8px;
    border-radius: 10px;

}

form button {
    padding: 0.8rem;
    border-radius: 8px;
}

form textarea {
    padding: 0.8rem;
    border-radius: 8px;

}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #060606;

}

.radio-group input[type="radio"] {
    flex: initial;
    width: auto;
    margin: 0;
}

/* ---------------- SECTIONS ---------------- */

section {
    padding: 40px 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

/* History */

section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

/* Adventure */

section:last-of-type {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

section:last-of-type figure {
    flex: 1;
    text-align: center;
}

section:last-of-type img {
    width: 100%;
}

section:last-of-type figcaption {
    margin-top: 10px;
    font-weight: bold;
}

/* ---------------- FOOTER ---------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #999;
    margin-top: 30px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
}